html, body {
  margin: 0;
  padding: 0;
}  

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

:root {
  --main-bg-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero {
  background-color: green;
  width: 35%;
}

.form {
  width: 65%;
}

.main-text {
  margin-bottom: 20px;
  font-weight: 400;
}

.sub-text {
  font-weight: 700;
}

.top {
  background-color: var(--main-bg-color);
  padding: 100px 30px 40px;
  padding-right: 200px;
  font-size: 20px;
}

.middle {
  background-color: #fff;
  padding: 20px 30px;
}

.bottom {
  background-color: var(--main-bg-color);
  padding: 25px 30px;
}