:root {
  --main-bg-color: #f0f0f0;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}  

* {
  font-family: 'Poppins', sans-serif;
  color: #333333;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

input {
  width: 100%;
  outline: 0;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #f0f0f0;
}

label {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

a {
  color:#596D48;
  font-weight: 600;
}

img {
  opacity: 0.6;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  background-color: var(--main-bg-color);
}

.left-side {
  background-color: #596D48;
}

.right-side {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  width: 65%;
}

.main-text {
  margin-bottom: 20px;
  font-weight: 400;
}

.sub-text {
  font-weight: 700;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
  margin-bottom: 20px;
  min-width: 250px;
}

.top {
  padding: 100px 40px 40px;
  padding-right: 200px;
  font-size: 20px;
}

.middle {
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0px 5px 2px lightgray;
}

.bottom {
  padding: 25px 40px;
}

.submit-button {
  margin-top: 15px;
  background: #596D48;
	color: white;
  font-weight: 600;
  border-radius: 8px;
	border-color: #596D48;
  border-style: solid;
	height: 45px;
	width: 200px;
}

.login {
  margin-top: 30px;
}