:root {
  --main-bg-color: #f0f0f0;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}  

* {
  font-family: 'Poppins', sans-serif;
  color: #333333;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

input {
  width: 100%;
}

label {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.form {
  display: flex;
  
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-side {
  background-color: green;
  height: 100vh;
  width: 35%;
}

.right-side {
  width: 65%;
}

.main-text {
  margin-bottom: 20px;
  font-weight: 400;
}

.sub-text {
  font-weight: 700;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 250px;
}

.col {
  margin-right: 120px;
}

.top {
  padding: 100px 40px 40px;
  padding-right: 200px;
  font-size: 20px;
}

.middle {
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0px 5px 2px lightgray;
}

.bottom {
  padding: 25px 40px;
}